*,*::after,*::before{
    margin: auto 0px;
    padding: 0px;
}
body{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border-radius: 5px 5px 0px 0px;
    color: white;
}
header{
    height: 50px;
    width: 100%;
    background-color: rgb(63, 62, 62);
    position: fixed;
    color: white;
    align-items: center;
    z-index: 16000;

}
.navbar{
    align-items: center;
    padding-top: 12px;
}
.navbar ul{
    display: flex;
    justify-content: center;
    justify-content:space-between;
    align-items: center;
    list-style: none;
}
.navbar li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile{
    display: none;
    visibility: hidden;
}
.navbar a{
    text-decoration: none;
    color: white;
    opacity: 0.8;
}
a:hover{
    opacity: 1;
    transition-delay: 0.5s;
}
video{
    width: 100%;
    height: auto 100vh;
    min-height: 100%;
}
.hero-start{
    position: relative;
    padding-top: 50px;
}
.video-content{
    position: absolute;
    top: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    
}
.video-content h1{
    width: 40%;
    margin-top: 10px;

}
button{
    width: 20%;
    height: 50px;
    border-radius: 50px;
    color: white;
    background-color: black;
    border: 2px solid white;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;


}
.hero-content{
    max-height: auto 100vh;
    width: 100%;
    color: black;
    

}
.hero-item{
    max-height: auto 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.hero-content img{
    width: 100%;
    max-height: auto 500px;
    display: block;
    margin-top: 80px;

}
.linear{
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
    padding-top: 100px;
    background-image: linear-gradient(to right, blue,#9954dd,rgb(238, 26, 199), #feb47b,yellow);
    -webkit-background-clip: text;
    display: block;
    color: transparent;
    margin: 0px;
    padding: 20px;

}
 .hero-item p{
    width: 40%;
    font-size: 20px;
    display: block;
    text-align: center;
    padding-left: 30%;
    

}
.hero-button{
    margin-left: 40%;
    margin-top: 20px;
}
.footer-container{
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: center;

    justify-content: space-around;
    width: 80%;
    padding-left: 10%;
}
.footer-list{
    float: left;
    margin-top: 100px;
}
h3{
    color: black;
}
.footer-list a{
    text-decoration: none;
    color: black;
    margin-top: 100px;
    line-height-step: 100px;
}
.foot-notes{
    margin-top: 100px;
    padding-left: 13%;
}
.footer-list p{
    line-height: 40px;
    list-style: none;
    list-style-type: none;
}
.foot-notes li{
    line-height: 40px;
}



